version: '3.8'

services:
  database:
    image: mysql
    ports:
      - "${DB_PORT_EXTERNAL}:${DB_PORT}"
    expose:
      - ${DB_PORT_EXTERNAL}
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      TZ: America/Bogota  # Ajusta esta zona horaria según tu ubicación
    volumes:
      - ./dump:/docker-entrypoint-initdb.d
      - ./conf:/etc/mysql/conf.d
      - persistent:/var/lib/mysql
    command: --default-time-zone='-05:00'  # Esto fuerza a MySQL a usar UTC-5
  web:
    container_name: ${PROJECT_NAME}
    build: .
    working_dir: /code
    command: python manage.py runserver 0.0.0.0:${PROJECT_PORT_INTERNAL}
    volumes:
      - .:/code
      - persistent_models:/machine_learning
      - export_reports:/export-reporting-sessions
    ports:
      - '${PROJECT_PORT_EXTERNAL}:${PROJECT_PORT_INTERNAL}'
    expose:
      - ${PROJECT_PORT_EXTERNAL}
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    environment:
      PMA_HOST: ${DB_HOST}
      PMA_PORT: ${DB_PORT}
    ports:
      - '${PHPMYADMIN_PORT_EXTERNAL}:${PHPMYADMIN_PORT_INTERNAL}'
    networks:
      - default

networks:
  default:

volumes:
  persistent:
  persistent_models:
  export_reports:
